<form action="/api/users" method="POST" id="add_hewan">
    <div class="new_hewan">
        <div class="form-group">
            <label for="name" class="text-light">Nama Hewan</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" id="" placeholder="Masukan nama hewan">
        </div>
        <div class="form-group">
               <label for="jenis" class="text-light">Jenis Hewan</label>
               <div class="border">
               <select id="jenis" name="jenis">
                   <option value="Mamalia">Mamalia</option>
                   <option value="Reptile">Reptile</option>
                   <option value="Amfibi">Amfibi</option>
                   <option value="Ikan">Ikan</option>
               </select>
           </div>   
       </div>
       <div class="form-group">
           <label for="habitat" class="text-light">Habitat Hewan</label>
           <input type="text" name="habitat" value="" placeholder="Masukan habitat hewan">
       </div>
       <div class="form-group">
           <label for="jumlah" class="text-light">Jumlah Hewan</label>
           <input type="number" name="jumlah" value="" placeholder="Masukan jumlah hewan">
       </div>
       <div class="form-group">
           <button type="submit" class="btn text-dark update">Save</button>
       </div>
    </div>
</form>